#
# Copyright (c) 2022 - for information on the respective copyright owner
# see the NOTICE file and/or the repository https://github.com/carbynestack/klyshko.
#
# SPDX-License-Identifier: Apache-2.0
#
apiVersion: v1
kind: ConfigMap
metadata:
  name: io.carbynestack.engine.params.extra
data:
  PLAYER_ID_mac_key_share_p: |
    MAC_KEY_SHARE_P
  PLAYER_ID_mac_key_share_2: |
    MAC_KEY_SHARE_2
